In [1]:
import pandas as pd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
input_path= "D:\\OneDrive - CGIAR\\agrilac\\icc\\data\\PUERTOSANJOSE.xlsx"

station = pd.read_excel(input_path)
station.head()

,Estación,Pentada,Pentada1,Pentada2,year,month,day,tmax,tmin,tmean,...,DCPP,CCTmax,CCTmin,CCTm,CCPp,CCAt,CCDCPP,CCEtp,CC-Tmin.Tm,CC-Tx.tm
0,Puerto San José,1,1.0,NaN,1971,1,1,31.8,28.0,NaN,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Puerto San José,1,1.0,NaN,1971,1,2,30.0,18.2,25.5,...,NaN,1.0,1.0,1.0,NaN,1.0,NaN,1.0,1.0,1.0
2,Puerto San José,1,1.0,NaN,1971,1,3,30.8,20.0,25.7,...,NaN,1.0,1.0,1.0,NaN,1.0,NaN,1.0,1.0,1.0
3,Puerto San José,1,1.0,NaN,1971,1,4,30.0,18.0,25.5,...,NaN,1.0,1.0,1.0,NaN,1.0,NaN,1.0,1.0,1.0
4,Puerto San José,1,1.0,NaN,1971,1,5,31.6,19.0,25.9,...,NaN,1.0,1.0,1.0,NaN,1.0,NaN,1.0,1.0,1.0

In [5]:
station.columns

Index(['Estación', 'Pentada', 'Pentada1', 'Pentada2', 'year', 'month', 'day',
       'tmax', 'tmin', 'tmean', 'Gráfico TMed', 'prec', 'Gráfico PP', 'Día J',
       'Dr', 'Declinación', 'Angulo horario a la puesta del sol',
       'Latitud (grados)', 'Latitud (rad)', 'Altitud', 'Heliofanía',
       'Ra[MJ m-2 day-1](Rso)', 'Etp', 'Déficit', 'At', 'Df-Tmin.Tm',
       'DF-Tx.tm', 'DCPP', 'CCTmax', 'CCTmin', 'CCTm', 'CCPp', 'CCAt',
       'CCDCPP', 'CCEtp', 'CC-Tmin.Tm', 'CC-Tx.tm'],
      dtype='object')

In [6]:
monthly_prec =station.groupby(['year', 'month'], as_index=False)['prec'].sum()

In [7]:
#===========input generation
name_station = os.path.basename(input_path).lower()
output_name = name_station.replace('.xlsx', '_prec.xlsx')
output_path=os.path.join(os.path.dirname(input_path), output_name)
monthly_prec.to_excel(output_path, index=False)